PACS/ServicoImagens.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://servicos.unifei.edu.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://servicos.unifei.edu.br">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://servicos.unifei.edu.br">
            <xs:element name="obterImagem">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="numExame" type="xs:int"/>
                        <xs:element minOccurs="0" name="digExame" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obterImagemResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="obterImagemRequest">
        <wsdl:part name="parameters" element="ns:obterImagem"/>
    </wsdl:message>
    <wsdl:message name="obterImagemResponse">
        <wsdl:part name="parameters" element="ns:obterImagemResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicoImagensPortType">
        <wsdl:operation name="obterImagem">
            <wsdl:input message="ns:obterImagemRequest" wsaw:Action="urn:obterImagem"/>
            <wsdl:output message="ns:obterImagemResponse" wsaw:Action="urn:obterImagemResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicoImagensSoap11Binding" type="ns:ServicoImagensPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obterImagem">
            <soap:operation soapAction="urn:obterImagem" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicoImagensSoap12Binding" type="ns:ServicoImagensPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="obterImagem">
            <soap12:operation soapAction="urn:obterImagem" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicoImagensHttpBinding" type="ns:ServicoImagensPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="obterImagem">
            <http:operation location="ServicoImagens/obterImagem"/>
            <wsdl:input>
                <mime:content type="text/xml" part="obterImagem"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="obterImagem"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicoImagens">
        <wsdl:port name="ServicoImagensHttpSoap11Endpoint" binding="ns:ServicoImagensSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ServicoImagens"/>
        </wsdl:port>
        <wsdl:port name="ServicoImagensHttpSoap12Endpoint" binding="ns:ServicoImagensSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ServicoImagens"/>
        </wsdl:port>
        <wsdl:port name="ServicoImagensHttpEndpoint" binding="ns:ServicoImagensHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ServicoImagens"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
